[Unit]
Conflicts = warmoffice-prewarm.service
After = warmoffice-prewarm.service

[Service]
Environment=WARMOFFICE_VERBOSE=1
Environment=WARMOFFICE_TARGET_TEMP=22
EnvironmentFile = /etc/warmoffice/warmoffice.env
ExecStart = /home/pi/warmoffice -v $WARMOFFICE_VERBOSE \
	--temp-sensor-id $WARMOFFICE_TEMP_SENSOR_ID \
	-s IDLE \
	--on $WARMOFFICE_ONCODE \
	--off $WARMOFFICE_OFFCODE \
	-t $WARMOFFICE_TARGET_TEMP

[Install]
WantedBy = multi-user.target
